
img {
	border: 0;
	max-width: 100%
}
/******************************************
9. product hover
******************************************/
.product-item .item-inner {
	margin-bottom: 0px;
	border: 1px solid #e5e5e5;
	padding: 0px 0px 20px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}
.product-item .item-inner:hover {
	border: 1px solid #f82e56;
}
.product-item .item-inner:hover .product-thumbnail .btn-quickview {
	opacity: 1;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.product-item .item-inner:hover .pro-box-info .box-hover .add-to-links .action.add-to-wishlist {
	margin-left: -97px;
}
.product-item .item-inner:hover .pro-box-info .box-hover .add-to-links .add-to-compare {
	margin-left: 63px;
}
.product-item .item-inner .product-thumbnail {
	position: relative;
	text-align: center;
}
.product-item .item-inner .product-thumbnail .btn-quickview {
	background: none;
	padding: 0;
	line-height: inherit;
	position: absolute;
	top: 52%;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2;
	opacity: 0;
	-moz-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.product-item .item-inner .product-thumbnail .btn-quickview a {
	background: #fff;
	border: 1px solid #cccccc;
	color: #444444;
	font-size: 12px;
	font-weight: 400;
	padding: 0 15px 0 15px;
	line-height: 35px;
	letter-spacing: 0.5px;
	text-transform: inherit;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	border-radius: 0px;
}
.product-item .item-inner .product-thumbnail .btn-quickview a:hover {
	color: #fff;
	background: #f82e56;
	border: 1px solid #f82e56;
}
.product-item .item-inner .product-thumbnail .product-item-photo {
	display: block;
	width: 100%;
	padding: 0;
}
.product-item .item-inner .product-thumbnail:hover .product-item-photo img {
	opacity: 0.6;
}
.product-item .item-inner .pro-box-info {
	margin-top: 5px;
}
.product-item .item-inner .pro-box-info .box-hover {
	text-align: center;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links:after {
	display: table;
	content: "";
	clear: both;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action {
	color: #fff;
	display: inline-block;
	font-size: 0;
	font-weight: 400;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	padding: 0;
	border: 1px solid #ccc;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}


.product-item .item-inner .pro-box-info .box-hover .add-to-links .action:hover {
	background: #f82e56;
	border: 1px solid #f82e56;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	color: #444444;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action span {
	display: inline-block;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-wishlist {
	margin-left: 0;
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-wishlist:before {
	content: "\f004";
}
.product-item .item-inner .pro-box-info .box-hover .add-to-links .action.add-to-compare:before {
	content: "\f012";
}
.product-item .item-inner .pro-box-info .pro-actions {
	display: inline-block;
	background: #fff;
	position: relative;
	z-index: 2;
}
.product-item .item-inner .pro-box-info .pro-actions .action.add-to-cart {
	background: #fff;
	border: 1px solid #cccccc;
	color: #444444;
	font-size: 11px;
	font-weight: 400;
	padding: 0 15px;
	line-height: 32px;
	letter-spacing: 0.5px;
	text-transform: inherit;
	border-radius: 0;
	transition: all 0.4s ease-out 0s;
	border-radius: 0px;
}
.product-item .item-inner:hover .pro-box-info .pro-actions .action.add-to-cart {
	color: #fff;
	background: #f82e56;
	border: 1px solid #f82e56;
	transition: all 0.4s ease-out 0s;
}
.product-item .item-inner .pro-box-info .pro-actions .action.add-to-cart:before {
	content: "\f07a";
	display: inline-block;
	font-family: FontAwesome;
	margin-right: 4px;
	line-height: 31px;
	font-size: 12px;
}
.add-to-cart-mt {
	background: #f82e56;
	border: 0 none;
	bottom: 0;
	font-size: 12px;
	left: -100%;
	line-height: 10px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	transition: all .5s ease-out 0s;
	width: 100%;
	padding: 12px 0;
	color: #000000;
}
.add-to-cart-mt:hover {
	background: #fe0100;
	color: #fff;
}
.add-to-cart-mt span {
	margin-left: 5px
}
.pr-button .mt-button a:hover {
	background: #f82e56;
	color: #fff
}
.pr-button .mt-button a {
	transform: rotate(0deg);
	transition: all .5s ease-in-out
}
.pr-button .mt-button a:hover {
	transform: rotate(360deg);
	transition: all .5s ease-in-out
}
.pr-button .mt-button {
	border-right: 0 none;
	float: left;
	height: 40px;
	margin-right: 5px;
	text-align: center;
	transform: scale(0);
	transition: all 0.4s ease 0s;
	width: 40px;
	line-height: 25px
}
.product-item .item-inner .product-thumbnail:hover .mt-button {
	transform: scale(1)
}
.product-item .item-inner .item-info {
	text-align: center;
	padding-top: 5px;
}
.product-item .item-inner .item-info .item-title {
	font-size: 14px;
	margin-bottom: 6px;
	font-weight: 400;
}
.product-item .item-inner .item-info .item-title a {
	display: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px;
	font-size: 15px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0.5px;
}
.product-item .item-inner {
	position: relative;
	overflow: hidden
}
.product-item {
	margin: 0 12px 25px;
}
.home-tab .product-item {
	margin: 0px;
}
.product-grid-area.col4 .product-item {
	margin: 0 4px
}
.product-item .item-inner .item-info .item-title a:hover {
	color: #f82e56;
}
#best-sale-slider.product-flexslider {
	margin: 0px;
}
#best-sale-slider .owl-theme .owl-controls .owl-buttons div {
	margin: 20px 5px 0px 0px;
}
.best-sale-pro .slider-items-products .owl-buttons .owl-prev {
	top: 15%
}
.best-sale-pro .slider-items-products .owl-buttons .owl-next {
	top: 15%
}

/******************************************
11. owl.carousel Slider
******************************************/

.owl-item .item {
	margin: 0 12px
}
.slider-items-products {
	position: relative
}
.slider-items-products .item {
	text-align: center
}
.slider-items-products .item .product-image {
	display: block;
	overflow: hidden
}
.slider-items-products .item .product-image img {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	-webkit-transition-property: transform;
	transition-property: transform
}
.slider-items-products .item .product-image:hover img {
	transform: scale(-1, 1)
}
.slider-items-products .owl-buttons .owl-prev a {
	transition: all .5s ease-out 0s
}
.slider-items-products:hover .owl-buttons .owl-prev a {
}
.slider-items-products .owl-buttons .owl-next a {
	transition: all .5s ease-out 0s
}
.slider-items-products:hover .owl-buttons .owl-next a {
}
.owl-buttons {
	opacity: 1;
	transition: all .5s ease-out 0s
}
.product-flexslider:hover .owl-buttons {
	opacity: 1
}
.slider-items-products .owl-buttons .owl-prev {
	position: absolute;
	right: 32px;
	top: -70px;
	left: inherit
}
.slider-items-products .owl-buttons .owl-next {
	position: absolute;
	top: -70px;
	right: 2px;
}
.slider-items-products .owl-buttons .owl-prev a {
	background-position: 0 100%
}
.slider-items-products .owl-buttons .owl-next a {
	background-position: 100% 100%;
	top: 50%
}
.slider-items-products .owl-buttons .owl-next a:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\f105";
	text-transform: none;
	font-size: 18px;
	line-height: 22px
}
.slider-items-products .owl-buttons .owl-prev a:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\f104";
	text-transform: none;
	font-size: 18px;
	line-height: 22px
}
.slider-items-products .owl-buttons a {
	background: #f8f8f8;
	display: block;
	height: 25px;
	margin: 0 0 0 -20px;
	position: absolute;
	top: 50%;
	width: 25px;
	z-index: 5;
	color: #666;
	border: 1px solid #e0e0e0;
	border-radius: 0px;
}
.product-flexslider {
	margin: 30px -12px;
	margin-top: 20px
}
.owl-theme .owl-controls .owl-buttons div {
	background: none
}
.slider-items-products .owl-buttons a:hover {
	text-decoration: none;
	background: #2874f0;
	color: #fff;
	border: 1px #2874f0 solid
}
.slider-items-products .owl-buttons .owl-prev a {
	background-position: 0 100%;
}
/******************************************
29. products view
******************************************/

.large-image img {
	max-width: 100%;
	height: auto;
	border: 1px #e5e5e5 solid;
}
.product-view-area .product-img-box .product-image {
	margin: 0 0 13px;
	position: relative;
	overflow: hidden
}
.magnifier img {
	max-width: inherit
}
.product-big-image {
	position: relative;
	padding: 0px;
}
.product-big-image .sale-left, .product-big-image .new-left {
	left: 0px;
	top: 0px;
}
.product-thumbnail.product-flexslider {
	margin: 30px 12px;
	margin-top: 20px;
	text-align: center;
}
.product-thumbnail .thumbnail-items {
	margin: 0px 6px
}
.cloud-zoom-gallery img {
	border: 1px #eee solid;
}
.product-thumbnail.product-flexslider:hover .owl-buttons, .product-thumbnail.product-flexslider .owl-buttons {
	opacity: 1;
}
.slider-items-products .product-thumbnail .owl-buttons .owl-prev {
	position: absolute;
	right: inherit;
	top: 30px;
	left: -22px;
}
.slider-items-products .product-thumbnail .owl-buttons .owl-next {
	position: absolute;
	right: -38px;
	top: 30px;
	left: inherit;
}
.product-view-area {
	margin: auto;
	position: relative;
	z-index: 0;
	margin: 10px 15px;
}
.product-view-area .flexslider-thumb {
	max-width: 455px;
	padding: 22px 62px;
	position: relative;
	border-top: 1px #e5e5e5 solid
}
.product-view-area-compact .flexslider-thumb {
	margin: 17px auto 0
}
.product-view-area .flexslider-thumb .flex-viewport {
	z-index: 10
}
.product-view-area .flexslider-thumb .flex-direction-nav {
	top: 30%;
	left: 0;
	width: 100%;
	z-index: 9
}
.product-view-area .flexslider-thumb .flex-prev {
	position: absolute;
	left: 20px;
	top: 8px;
	border: 1px #e5e5e5 solid;
	background: #fff;
	width: 32px;
	height: 32px;
	line-height: 28px;
	text-align: center;
	font-size: 11px;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}
.product-view-area .flexslider-thumb .flex-direction-nav a:hover {
	background-color: #f82e56;
	color: #000;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}
.product-view-area .flexslider-thumb .flex-next {
	position: absolute;
	right: 20px;
	top: 8px;
	border: 1px #e5e5e5 solid;
	background: #fff;
	width: 32px;
	height: 32px;
	line-height: 28px;
	text-align: center;
	font-size: 11px;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}
.product-view-area .flexslider-thumb li img {
	cursor: pointer;
	-moz-user-select: none;
	border: 1px #e5e5e5 solid;
	padding: 2px
}
.product-view-area .previews-list {
	padding: 0;
	list-style-type: none;
	text-align: center
}
.product-view-area .previews-list li {
	margin-right: 15px;
	padding: 0;
	float: none;
	display: inline-block;
	width: 33%;
}
.product-view-area .flexslider-thumb-vertical-outer {
	margin: 0 10px 15px 0;
	width: 76px;
	float: left;
	position: relative;
	z-index: 1
}
.product-view-area .flexslider-thumb-vertical .flex-viewport {
	height: 300px
}
.product-view-area .flexslider-thumb-vertical .slides {
	margin: -4px 0 0;
	padding: 0;
	list-style-type: none
}
.product-view-area .flexslider-thumb-vertical .slides li {
	margin: 0;
	padding: 0;
	overflow: hidden
}
.product-view-area .flexslider-thumb-vertical .slides li img {
	width: 100%;
	padding: 4px 0;
	cursor: pointer;
	-moz-user-select: none
}
.flex-direction-nav, .slider-controls {
	-webkit-transform: translate3d(0, 0, 0)
}
.product-view-area li {
	list-style: none
}
.product-color-size-area {
	display: inline-block;
	width: 100%;
	margin-bottom: 8px
}
.product-color-size-area .color-area {
	display: inline-block;
	width: 40%;
	float: left;
	margin-right: 18px
}
.product-color-size-area .size-area {
	display: inline-block;
	width: 40%
}
.product-view-area .product-details-area {
	margin-top: 0;
	z-index: -9;
	padding: 0px 0px 20px 22px;
}
.product-view-area .product-name h1 {
	font-size: 27px;
	margin: 0 0 18px;
	text-align: left;
	line-height: 25px;
	padding-bottom: 15px;
	letter-spacing: normal;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
	text-transform: uppercase;
}
.product-view-area .short-description {
	font-size: 13px;
	padding-top: 12px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 15px
}
.product-view-area .short-description h3 {
	font-size: 15px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 5px;
	font-weight: bold
}
.product-view-area .short-description p {
	font-size: 14px
}
.product-view-area .product-details-area .ratings {
	padding: 5px 0 0;
	margin: auto
}
.product-view-area .product-details-area .ratings .rating {
	margin-bottom: 15px;
	display: inline-block;
	margin-right: 10px
}
.product-view-area .product-details-area .ratings .rating i {
	font-size: 15px
}
.product-view-area .product-details-area .ratings .rating-links {
	margin-bottom: 12px;
	display: inline-block
}
.availability.in-stock span {
	color: #fff;
	background-color: #5cb85c;
	border-radius: 0px;
	font-size: 12px;
	font-weight: bold
}
.availability.out-of-stock span {
	color: #fff;
	background-color: #d9534f;
	border-radius: 0px;
	font-size: 12px;
	font-weight: bold
}
.product-view-area .product-details-area .price-box {
	display: block;
	margin: 0 0 10px;
	padding: 0 0 5px;
	border-bottom: 1px solid #e5e5e5
}
.product-view-area .product-details-area .price-box .old-price {
	margin-right: 5px;
	margin-top: 0;
	display: inline-block
}
.product-view-area .product-details-area .special-price {
	display: inline-block;
	margin: 0;
	padding: 0
}
.product-view-area .product-details-area .old-price .price {
	font-size: 20px;
	font-weight: normal;
	color: #ccc;
	margin-left: 10px
}
.product-view-area .product-details-area .price {
	font-size: 28px;
	color: #fe0100;
}
.cart-plus-minus .qty {
	border: 1px solid #e0e0e0;
	color: #000000;
	float: left;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	margin-right: 0;
	padding: 0 5px 1px;
	text-align: center;
	width: 65px
}
.dec.qtybutton {
	background-color: #e5e5e5;
	border: 1px #eaeaea solid;
	border-right: none;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	color: #000000;
	font-size: 14px;
	line-height: normal;
	padding: 12px 14px 9px 16px;
	line-height: 18px;
	display: inline-block;
	border-radius: 0px;
	height: 40px;
	float: left;
	cursor: pointer
}
.dec.qtybutton:hover, .inc.qtybutton:hover {
	background-color: #f82e56;
	color: #fff
}
.inc.qtybutton {
	background-color: #e5e5e5;
	border: 1px #eaeaea solid;
	border-left: none;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	color: #000000;
	font-size: 14px;
	line-height: normal;
	padding: 12px 14px 9px 16px;
	line-height: 18px;
	display: inline-block;
	height: 40px;
	float: left;
	cursor: pointer
}
.cart-plus-minus label {
	display: inline-block;
	float: left;
	margin-top: 10px;
	text-align: left;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	margin-right: 10px
}
.cart-plus-minus {
	display: inline-block;
	float: left;
	margin-right: 18px
}
.product-variation {
	display: inline-block;
	width: 100%;
	border-top: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
	padding: 15px 0px;
	margin-bottom: 15px
}
.numbers-row {
	float: left
}
.pro-add-to-cart {
	float: left
}
button.button.pro-add-to-cart {
	background: #ff7474;
	color: #fff;
	padding: 7px 22px;
	border: 2px #ff7474 solid;
}
button.button.pro-add-to-cart:hover {
	background: #f82e56;
	border: 2px #f82e56 solid;
	color: #fff;
}
button.button.pro-add-to-cart span {
	font-size: 16px
}
button.button.pro-add-to-cart span i {
	margin-right: 10px
}
.email-addto-box {
	display: inline-block;
	margin-top: 30px
}
.product-cart-option ul {
	margin: auto;
	display: inline-block
}
.product-cart-option ul li {
	border-right: 1px solid #e5e5e5;
	float: left;
	margin-right: 15px;
	padding-right: 15px
}
.product-cart-option ul li a {
	color: #636363;
	display: block;
	font-size: 11px;
	font-weight: 700;
	line-height: 22px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase
}
.product-cart-option ul li a:hover, .product-cart-option ul li a:hover i {
	color: #f82e56
}
.product-cart-option ul li:last-child {
	border: none
}
.product-cart-option ul li a i {
	color: #bbb;
	font-size: 14px;
	margin-right: 8px
}
.product-cart-option ul li a i.fa.fa-heart {
	font-size: 12px
}
.product-overview-tab {
	margin-top: 5px;
	margin-bottom: 15px;
}
/******************************************
30. products tabs
******************************************/

.product-tabs {
	line-height: normal;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	z-index: 1;

	margin-top: 5px;
	text-align: left;
	width: 100%
}

.upload01{
    position: relative;
    margin-left: 141px;
    margin-top: -8px;
    margin-bottom: 18px;
  }


.product-tabs li a {
	border-bottom: none;
	color: #666;
	margin-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	padding: 0 20px;
	letter-spacing: 1px;
}
.product-tabs li.active a {
	border: 1px solid #f82e56;
	border-radius: 0px;
	background: #f82e56;
	color: #000000
}
#product-detail-tab.nav-tabs>li {
	float: none;
	display: inline-block
}
.product-tab-inner {
	margin-top: 15px;
}
.table-responsive.reviews-table {
	overflow: inherit;
}
.nav-tabs.product-tabs>li>a {
	line-height: 1.42857143;
	border-radius: 0px;
	border: 1px solid #eee;
	padding: 8px 28px;
	background: #fff;
	border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: #f82e56;
	border: 1px solid #f82e56;
	color: #fff
}
.nav-tabs>li>a:hover {
	background: #f82e56;
	color: #fff;
	border: 1px solid #f82e56
}
.tab-content {
	padding: 5px 0px 0px 0px;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 0px
}
.tab-content>.active {
	margin-top: 8px
}
.form-add-tags input.input-text, select, textarea {
	border: 1px solid #ddd;
	margin-top: 0;
	padding: 5px 10px 7px;
	width: 35%;
	border-radius: 0px
}
button.button.add-tags {
	margin-left: -5px;
	background: #f82e56;
	border: 1px solid #f82e56;
	color: #000;
	margin-left: 8px;
}
.form-add-tags h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 6px
}
p.note {
	text-align: center;
	margin-top: 8px
}
.reviews-content-left h2, .reviews-content-right h2 {
	color: #222;
	font-size: 15px;
	margin: 0 0 5px;
	text-transform: uppercase;
	font-weight: bold
}
.product-view .box-reviews dl {
	margin: 15px 0
}
.review-ratting {
	margin: 15px 0
}
.review-ratting p {
	margin: 4px 0 6px;
	font-weight: bold
}
.review-ratting p a {
	color: #f82e56;
	text-decoration: none
}
.review-ratting p a:hover {
	color: #000000
}
.review-ratting table tr th, .review-ratting table tr td {
	font-size: 12px;
	line-height: 1em;
	padding: 5px 0
}
.review-ratting table tr th {
	font-weight: bold;
	padding-right: 8px
}
.author small {
	font-style: italic
}
.reviews-content-right h3 {
	font-size: 13px;
	font-weight: normal;
	color: #222;
	line-height: 1.35;
	margin: 0 0 5px
}
.reviews-content-right h3 span {
	color: #f82e56
}
.reviews-content-right h4 {
	color: #222;
	font-size: 13px;
	font-weight: 700;
	margin: 0
}
.reviews-content-right h4 em {
	color: #ed1c24
}
.reviews-content-right table {
	margin-top: 15px;
	text-align: center;
	width: 100%
}
.reviews-content-right table tr td {
	border: 1px solid #e5e5e5;
	padding: 6px 10px;
	background: #fff
}
.reviews-content-right table tr th {
	background: #000000;
	border: 0 none;
	color: #fff;
	padding: 10px;
	text-align: center
}
.product-overview-tab .form-area {
	margin: 15px 0 0
}
.product-overview-tab .form-area .form-element input, textarea {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e0e0e0;
	padding: 5px;
	width: 60%;
	height: 34px
}
.product-overview-tab .form-area .form-element textarea {
	height: 100px;
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 5px;
	border-radius: 0px
}
.product-overview-tab .buttons-set {
	border: none;
	border-top: 1px solid #e5e5e5;
	margin: 20px 0 0;
	padding: 8px 0 0;
	text-align: right
}
.tag-content .form-element {
	overflow: hidden
}
.tag-content .form-element input {
	height: 40px;
	width: 299px;
	float: left;
	margin-right: 5px
}
.form-element label, .ck-box label {
	color: #000000;
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 10px auto 2px
}
.form-element label em {
	color: #f22e3b;
	font-family: arial;
	font-style: normal
}
.upsell-product-area .product-flexslider {
	margin-bottom: 0px;
}
.upsell-product-area .page-header h2 {
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: normal;
	margin: 0px;
	outline: medium none;
	padding: 0 0 6px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
.related-products-pro .product-flexslider {
	margin-bottom: 10px;
}
.related-products-pro {
	margin-top: 25px;
}
.related-product-area .page-header h2 {
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: normal;
	margin: 0px;
	outline: medium none;
	padding: 0 0 6px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
.col2-right-layout .product-view-area {
	margin: 0
}
.col2-right-layout .product-view-area .product-details-area {
	padding: 20px 0 12px
}
.col2-right-layout .product-view-area .flexslider-thumb {
	padding: 22px 65px
}
.product-view-area ul, .product-overview-tab ul {
	padding: 0px;
	margin: 0px
}
.col2-right-layout .product-color-size-area .size-area {
	width: 45%
}
.col2-right-layout .nav-tabs.product-tabs>li>a {
	padding: 8px 20px
}
.col2-left-layout .product-view-area {
	margin: 0px;
	overflow: hidden;
}
.col2-left-layout .product-view-area .flexslider-thumb {
	padding: 22px 58px
}
.col2-left-layout .product-color-size-area .size-area {
	width: 48%
}
.col2-left-layout .nav-tabs.product-tabs>li>a {
	padding: 8px 20px
}
.page-content {
	margin-bottom: 30px;
	overflow: hidden;
}
.page-content .page-title {
	padding-bottom: 5px;
}
.page-title h2 {
	display: inline-block;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: normal;
	margin: 0 0 10px;
	outline: medium none;
	padding: 0px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
	font-weight: 600;
}
/******************************************
31. shopping cart
******************************************/

.page-order ul.step {
	width: 100%;
	clear: both;
	overflow: hidden
}
.page-order ul.step li {
	display: inline;
	line-height: 30px;
	width: 19%;
	float: left;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-right: 12px;
	background: #fff;
	text-transform: uppercase
}
.page-order ul.step li:last-child {
	margin-right: 0px
}
.page-order ul.step li.current-step {
	border: 1px solid #e99544
}
.page-order .heading-counter {
	margin: 30px 0;
	padding: 15px;
	border: 1px solid #eaeaea;
	background: #fff
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 0px
}
.page-order .cart_navigation a.continue-btn {
	padding: 10px 20px;
	border: 1px solid #eaeaea;
	border-radius: 0px;
	background: #f9f9f9;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px
}
.page-order .availability {
	text-align: center
}
.page-order .product-name {
	font-size: 16px;
	margin-bottom: 0px
}
.page-order .cart_description {
	font-size: 14px
}
.page-order .cart_navigation a.checkout-btn {
	float: right;
	background: #ff7474;
	color: #fff;
	border: 1px solid #ff7474;
	border-radius: 0px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 30px
}
.page-order .cart_navigation a.checkout-btn:hover {
	border: 1px solid #f82e56;
	background: #f82e56
}
.cart_summary>thead, .cart_summary>tfoot {
	background: #f7f7f7;
	font-size: 16px
}
.cart_summary>tfoot strong {
	color: #ff6e1f
}
.cart_summary>thead>th {
	border-bottom-width: 1px;
	padding: 20px
}
.cart_summary td {
	vertical-align: middle;
	padding: 20px
}
.cart_summary .table>tbody>tr>td, .table>tbody>tr>th, .cart_summary .table>tfoot>tr>td, .table>tfoot>tr>th, .cart_summary .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px
}
.cart_summary img {
	max-width: 100px
}
.cart_summary td.cart_product {
	width: 120px;
	padding: 15px
}
.cart_summary .price {
	text-align: center;
	font-weight: 600;
}
.cart_summary .qty {
	text-align: center;
	width: 100px
}
.cart_summary .qty input {
	text-align: center;
	max-width: 64px;
	margin: 0 auto;
	border-radius: 0px;
	border: 1px solid #eaeaea
}
.cart_summary .qty a {
	padding: 8px 10px 5px 10px;
	border: 1px solid #eaeaea;
	display: inline-block;
	width: auto;
	margin-top: 5px
}
.cart_summary .qty a:hover {
	background: #f82e56;
	color: #fff
}
.cart_summary .action {
	text-align: center
}
.cart_summary .action a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px
}
.cart_summary tfoot {
	text-align: right
}
.cart_navigation {
	margin-top: 10px;
	float: left;
	width: 100%;
}
.cart .totals table th, .cart .totals table td {
	padding: 5px;
	border: none;
	background: none;
	border: medium none;
	box-shadow: none;
	color: #333;
}
.cart .totals table th, .cart .totals table td strong {
	font-weight: 900;
	font-size: 12px;
}
.cart-collaterals {
	margin-top: 20px;
	margin-bottom: 30px;
}
.cart-collaterals .col2-set {
	float: left;
	margin: 0;
	padding: 0;
}
.cart-collaterals .totals {
}
.totals h3 {
	border-bottom: 1px solid #ddd;
	color: #000;
	font-size: 14px;
	margin-bottom: 5px;
	padding: 10px 0;
}
.cart-collaterals .col2-set .col-2 {
	width: 320px;
}
.totals .inner {
	padding: 4px 0px 15px 0px;
	background-color: #fff;
	margin-top: 0px;
}
#shopping-cart-totals-table {
	float: right;
	width: 100%;
	padding-bottom: 8px;
}
#shopping-cart-totals-table .price {
	font-size: 18px;
	color: #333
}
#shipping-zip-form p {
	margin: 2px 0 4px;
}
#shipping-zip-form .form-list input.input-text {
	width: 90%;
}
.discount {
	margin: auto;
}
.discount label {
	font-weight: normal;
}
.shipping {
	margin: auto;
}
.shipping .form-list select {
	width: 90%;
	background-color: #fff;
	border: 1px #f0f0f0 solid;
	padding: 8px 10px;
}
.shipping .form-list select:focus {
	background-color: #fff;
	border: 1px #ddd solid;
	padding: 8px 10px;
}
.shipping .form-list input.input-text {
	width: 95%;
}
.cart-collaterals h3 {
	font-size: 14px;
	color: #000;
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	margin-top: auto;
	font-weight: bold;
	text-transform: uppercase;
}
.shipping-form ul {
	margin: auto;
	padding: inherit;
}
.shipping-form ul li {
	list-style: none;
}
.buttons-set11 {
	margin-top: 10px;
}
input.input-text, select, textarea {
	background-color: #fff;
	border: 1px #f1f1f1 solid;
	padding: 8px 10px;
	outline: none;
	color: #aaa;
}
#wishlist-table textarea {
	padding: 8px 10px;
}
input.input-text:focus, select:focus, textarea:focus {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 8px 10px;
	outline: none;
}
input#coupon_code {
	margin: 8px 0;
	width: 90%;
}
#shopping-cart-table {
	background-color: #FFFFFF;
	text-align: left;
	border: none;
}
#shopping-cart-table input.qty {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #e5e5e5;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	outline: medium none;
	padding: 8px;
	width: 50px;
	text-align: center;
}
#shopping-cart-table a.remove-item {
	background-color: #fff;
	background-image: none;
	color: #333;
	cursor: pointer;
	padding: 0px;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
	float: left;
	transition: all 0.3s linear;
	border: none;
}
#shopping-cart-table a.remove-item span {
	display: none
}
#shopping-cart-table a.remove-item:before {
	content: "\f014";
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
}
#shopping-cart-table a.remove-item:hover {
	padding: 0px;
	color: #f82e56;
}
#shopping-cart-table .remove-item span span {
	display: none;
}
#shopping-cart-table dl {
	margin: 0;
	padding: 0;
}
#shopping-cart-table .item-options dd {
	color: #CCCCCC;
	margin: 0;
}
#shopping-cart-table h4 {
	font-size: 12px;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase
}
#shipping-zip-form .form-list label {
	display: block;
	margin-top: 8px
}
#shopping-cart-table .cart-price .price {
	font-size: 12px;
	font-weight: bold;
}
.cart-table .btn-continue {
	float: left;
}
.cart-table .btn-update, .cart-table .btn-empty {
	float: right;
	margin-left: 8px;
}
.cart .product-name a {
	font-size: 14px;
	color: #333;
}
#shopping-cart-table .data-table td {
	vertical-align: middle;
}
.checkout a {
	text-decoration: underline;
	color: #33c5fb;
}
.checkout {
	color: #666666;
	padding-top: 5px;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
button.button.btn-proceed-checkout {
	background: #f82e56;
	padding: 15px 5px;
	color: #fff;
	width: 100%;
	border: none;
}
button.button.btn-proceed-checkout:hover {
	background: #222;
	border: none;
}
.order-detail-content .btn-continue {
	float: left;
	background: #222;
	border-color: #222;
	color: #fff;
}
button.button.btn-proceed-checkout:before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 20px;
	padding-right: 5px;
}
button.button.btn-proceed-checkout span {
	font-size: 18px;
	font-weight: 600;
}
.crosssel {
	margin: 12px 0px;
}
.crosssel .new_title.center {
	margin-bottom: 10px;
}
.cart {
	background: none repeat scroll 0 0 #fff;
	margin: 0 0px 20px;
	overflow: hidden;
}
.crosssel {
	background: none repeat scroll 0 0 #fff;
	margin: 40px 0px 20px;
	overflow: hidden;
}
.crosssel .new_title {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-top: 5px;
	margin: 0px -25px 25px;
}
/******************************************
32. My Wishlist
******************************************/
.wishlist-item table .th-stock {
	width: 12%;
}
.wishlist-item table .th-stock a {
	color: #EC4445;
}
.wishlist-item table .td-add-to-cart > a {
	background: #f82e56;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 8px 16px;
	text-transform: uppercase;
	width: 115px; 
}
.wishlist-item .all-cart {
	background: #000000;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 8px 16px;
	text-transform: uppercase;
	margin-top: 18px;
	 border-radius:50px;
}
.wishlist-item table .td-add-to-cart > a:hover, .wishlist-item .all-cart:hover {
	background: #000;
	color: #fff;
}
.wishlist-area .social-sharing {
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	margin-bottom: 40px;
	padding: 35px;
	text-align: center;
}
.wishlist-area h3.widget-title-modal {
	text-align: center;
}
.wishlist-area .widget .social-icons {
	float: none;
}
.wishlist-area .widget .social-icons {
	float: none;
}
.wishlist-area .widget .social-icons li {
	display: inline;
	float: none;
}
.wishlist-item table {
	border-bottom: 1px solid #E1E1E1;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.wishlist-item table a {
	color: #000000;
}
.wishlist-item table a:hover {
	color: #f82e56;
}
.wishlist-item table thead {
	background: #f8f8f8 none repeat scroll 0 0;
	color: #000000;
}
.wishlist-item.table-responsive {
	margin-top: 5px;
	border: none;
}
.wishlist-item table th {
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	font-size: 12px;
	font-weight: 600;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
}
.wishlist-item table .th-product {
	width: 18%;
}
.wishlist-item table .th-product img {
	width: 100px;
}
.wishlist-item table .th-details {
	width: 35%;
}
.wishlist-item table tbody .th-details {
	text-align: left;
}
.wishlist-item table .th-delate {
	width: 5%;
}
.wishlist-item table .th-edit {
	width: 10%;
}
.wishlist-item table .td-add-to-cart {
	width: 18%;
}
.wishlist-item table .th-price {
	width: 12%;
	font-weight: 600;
}
.wishlist-item table td {
	border-bottom: 1px solid #e1e1e1;
	padding: 12px;
	text-align: center;
}
.wishlist-item .th-details a {
	font-size: 14px;
}
.sidebar-account .block-content {
	padding: 0px
}
.sidebar-account .block-content ul {
	margin-top: 5px;
	margin-bottom: 5px
}
.sidebar-account .block-content li {
	padding: 10px 0px;
	border-top: 1px #fff solid;
	border-bottom: 1px #eaeaea solid
}
.sidebar-account .block-content li:first-child {
	border-top: none
}
.sidebar-account .block-content li:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 10px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	line-height: 16px;
	color: #000000
}
.sidebar .block-content li.last {
	border-bottom: none
}
.sidebar-account .block-content li a {
	cursor: pointer;
	padding: 0 12px;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s
}
.sidebar-account .block-content li a:hover {
	cursor: pointer;
	padding: 0 12px;
	color: #f82e56
}
.sidebar-account .block-content li.current {
	font-weight: 900;
	color: #f82e56
}
.sidebar-checkout .block-content {
	padding: 14px 0px
}
.box-wishlist label, .box-wishlist .button {
	margin-top: 10px;
	margin-bottom: 5px
}
.box-wishlist {
	margin-top: 20px
}
.my-account {
	margin-bottom: 30px;
}
/******************************************
33. Compare table
******************************************/

.table-compare td.compare-label {
	width: 150px;
	background: #fafafa;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}
.compare-list {
	margin-bottom: 35px;
}
.table-compare .product-star .fa {
	line-height: inherit;
	color: #ff9900;
}
.table-compare .price {
	font-weight: bold;
}
.table-compare .add-cart {
	background: #f82e56;
	color: #fff;
	border: 2px #f82e56 solid;
}
.table-compare .add-cart:hover {
	opacity: 0.8;
}
.table-compare .action button.button {
	padding: 0px 12px 0 10px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 12px;
}
/******************************************
34. Checkout page
******************************************/

.checkout-page ul {
	padding: 0px;
	margin: auto;
}
.checkout-page li {
	list-style: none;
}
.checkout-page h4.checkout-sep {
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: 1px #eaeaea solid;
	line-height: normal;
	padding: 0 0 6px;
	margin-bottom: 12px; font-weight:600;
}
.checkout-page h4.checkout-sep.last {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.checkout-page .box-border {
	margin-bottom: 15px;
}
.checkout-page .box-border .button {
	margin-top: 15px;
}
.checkout-page .box-border label {
	margin-top: 5px;
	font-size: 13px;
}
.checkout-page .box-border p, .checkout-page .box-border h4 {
	padding-bottom: 5px;
	margin-top: 5px;
}
.checkout-page .box-border .fa {
	line-height: inherit;
}
.checkout-page .box-border input[type="radio"] {
	margin-right: 10px;
}
/******************************************
35. Contact page
******************************************/


#contact {
	margin-top: 10px;
}
#contact .page-subheading {
	    padding-left: 0px;
    border: none;
    margin: -42px 0 30px;
    text-transform: uppercase;
    font-size: 23px;
    color: #333;
    font-weight: 600;
}
#contact .contact-form-box {
	padding: 0;
	margin: 0;
}
#contact .contact-form-box label {
	padding-bottom: 5px;
}
#contact .contact-form-box .form-selector {
	padding-bottom: 25px;
}
#contact .contact-form-box .form-selector:last-child {
	padding-bottom: 0px;
}
#contact input, #contact select {
	border-radius: 0;
	border-color: #ddd;
	box-shadow: inherit;
	outline: 0 none;
	height: 35px;
	background: #f8f8f8; 
}
#contact textarea {
	border-radius: 0;
	border-color: #ddd;
	box-shadow: inherit;
	outline: 0 none;
	height: 135px;
	background: #f8f8f8; 
}
#contact input:focus, #contact select:focus, #contact textarea:focus {
	box-shadow: inherit;
	outline: 0 none;
}
#contact #btn-send-contact {
	font-size: 14px;
	line-height: 18px;
	color: white;
	padding: 0;
	font-weight: normal;
	background: #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	padding: 10px 25px;
}
#contact #btn-send-contact:hover {
	background: #F36;
}
#contact_form_map ul {
	line-height: 28px;
	list-style: disc;
	list-style-position: inside;
	margin: auto;
}
.conact_data-2 p{
	font-size:15px!important;
	    line-height: 25px;
}
#contact_form_map ul.store_info {
	list-style: none;
	font-style: normal;
	color: #696969;
}
.privacy_daat-1 p{
	font-size: 15px!important;
	    line-height: 25px;
}
.contact_data-1 p{
	font-size:15px;
	    line-height: 25px;
}
#contact_form_map ul li{
	font-size:15px;
}
#contact_form_map ul.store_info i {
	display: inline-block;
	width: 30px;
	line-height: inherit;
	font-size: 18px;
}
#message-box-conact .fa {
	line-height: inherit;
}
.content-text {
	padding: 10px 0;
}
.content-text p {
	margin-bottom: 15px;
}
.right-sidebar #left_column {
	float: right;
}
/******************************************
36. Login page
******************************************/
.account-login {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.box-authentication {
	display: inline-block;
	width: 48%;
	float: none;
	text-align: left;
	border: 1px #eaeaea solid;
	background: #f9f9f9;
	padding: 25px;
}
.box-authentication h4 {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
.box-authentication p {
	margin: auto;
	font-size: 15px;
}
.box-authentication label {
	margin-top: 10px;
	margin-bottom: 2px;
	    font-size: 15px;
}
.box-authentication .forgot-pass {
	margin-top: 15px;
}
.box-authentication input, .box-authentication textarea {
	border-radius: 0px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	width: 70%;
	background: #fff;
}
.box-authentication.new-customer-box input, .box-authentication.new-customer-box textarea {
	width: 100%;
}
.box-authentication .button {
	margin-top: 15px;
}
/******************************************
37. 404 Error Page
******************************************/


.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	margin: 30px auto;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #999;
	font-weight: bold;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #eaeaea;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	color: #666;
	margin: 15px 0;
	font-style: normal;
}
a.button-back {
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 16px;
	padding: 15px 25px;
	margin-top: 15px;
	background: #f82e56;
	color: #fff;
	font-weight: 600; 
}
a.button-back:hover {
	background: #000000;
	color: #fff;
}
#animate-arrow {
	position: relative;
	top: 15px;
	left: 0px;
	animation: move 1s ease infinite;
	margin-top: 150px;
	color: red;
}
 @keyframes move {
 50% {
 bottom: 10px;
 top: 0px;
}
}
/******************************************
38. About us
******************************************/

.about-page h1 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 30px;
}
.about-page {
	margin-top: 15px;
	display: inline-block;
	overflow: hidden;
}
.about-slid {
	background-size: cover;
	text-align: center;
	padding: 80px 0 100px;
}
.about-slid h2 {
	font-size: 42px;
	color: #fff;
	font-weight: bold;
}
.about-slid p {
	color: #fff;
	font-size: 16px;
	margin: 8px auto 0;
	line-height: 22px;
	width: 78%;
}
.about-slid-info {
	width: 80%;
	margin: 0 auto;
}
.about-page ul {
	padding: 0;
	margin: auto;
}
.about-page ul li {
	display: block;
	margin: 1.2em 0 0;
}
.about-page ul li a {
	color: #333;
	font-size: 15px;
}
.about-page ul li a:hover {
	color: #f82e56;
	padding-left: 10px;
}
.about-page .fa-arrow-right {
	font-size: 12px;
}
.about-page .text_color {
	color: #f82e56;
}
label[for="rememberme"] {
	margin-left: 0.75em;
}
.box-authentication .inline input {
	width: auto;
}
.about-page .carousel-inner > .item > a > img, .about-page .carousel-inner > .item > img {
	width: 100%;
}
.register-benefits {
	margin-top: 12px;
}
.box-authentication .required {
	color: #ff0000;
	padding-left: 3px;
}
.our-team {
	padding-bottom: 30px;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.our-team .page-header h2 {
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: normal;
	margin: 0 0 20px;
	outline: medium none;
	padding: 0 0 6px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
	font-weight: 400;
}
.our-team .team {
	background: #f8f8f8;
	border: 1px #eee solid;
	padding: 15px;
	text-align: center;
}
.team h5 {
	margin-bottom: 10px;
	font-size: 14px;
	margin-bottom: 6px;
	text-transform: uppercase;
	font-weight: bold;
}
.team p.subtitle {
	margin-bottom: 10px;
}
.avatar {
	margin-bottom: 20px;
}
.team-social {
	margin-left: 0;
	padding-left: 0;
}
.align-center-btn a.button {
	border: 2px #f82e56 solid;
	padding: 8px 25px;
	border-radius: 0px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 15px;
	background: #f82e56;
	color: #fff;
}
.align-center-btn a.button.buy-temp {
	background: #f82e56;
	color: #fff;
	border: 2px #f82e56 solid;
}
.align-center-btn {
	margin-top: 25px;
}
#service {
	padding-bottom: 30px;
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #eee;
	padding-bottom: 20px;
	margin-top: 15px;
	padding-top: 15px;
}
#service .page-header h2 {
	color: #333;
}
#service i {
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#service h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.sitemap-page {
	margin-top: 15px;
	margin-bottom: 50px;
}
.simple-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.bold-list>li>a {
	font-weight: 700;
	text-transform: uppercase
}
.simple-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	bottom: -.8em
}
.simple-list li {
	margin: 0;
	padding: 0 0 12px
}
/*======================================
40. Modal Dialog Area styles 
========================================*/
.modal-dialog {
	background: #ffffff;
	width: 50%;
}
@media (max-width: 768px) and (max-width: 1199px) {
.modal-dialog {
	width: 73%;
}
}
@media (max-width: 480px) and (max-width: 767px) {
.modal-dialog {
	width: 80%;
}
}
@media only screen and (max-width: 479px) {
.modal-dialog {
	width: 95%;
}
}
.modal-dialog .modal-body .myclose {
	font-size: 40px;
	margin-right: 8px;
	font-weight: normal;
	line-height: 0.5;
}
.modal-dialog .product-details1-area {
	padding: 0;
}
.modal-dialog .product-details1-area .product-details-info-area {
	padding: 30px;
}
.modal-dialog .product-details1-area .product-details-social {
	margin-bottom: 50px;
}
.modal-dialog .inner-product-details-cart li:hover {
	border: 1px solid #111111;
}
.modal-dialog .inner-product-details-cart li:hover:nth-child(2) {
	border: 1px solid #d7d7d7;
}
.modal-dialog .inner-product-details-cart li a {
	background: #111111;
	color: #ffffff;
}
.modal-dialog .inner-product-details-cart li a:hover {
	background: transparent;
	color: #111111;
}
.modal-dialog .inner-product-details-cart li a:hover i {
	color: #111111;
}
.modal-dialog .product-details1-area .inner-product-details-left ul li {
	margin: 16px 0 0 0;
}
.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: none;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	text-align: center
}
